.iconButton {
	padding: 1.3rem 1.5rem 1.3rem 1.5rem !important;
	float: right;
}
.plusButton {
	margin-top: 1rem !important;
}

.comboBox {
	padding-bottom: 1rem;
	padding-left: 0;
}

.grid {
	padding: 0;
}

.drugItem{
	min-width: 15rem;
}

.dispQtyInput {
	min-width: 5rem;
}