@import '~carbon-components/scss/globals/scss/styles.scss';

.stockReceiptTable {
  max-height: calc(100vh - 500px);
  overflow-y: scroll;
}

.buttonSet {
  float: right;
  justify-content: end;
  width: 30%;
  padding-top: 1rem;
}

.primaryButton{
  background-color: #007d79 !important;
}

.disabledButton{
  background-color: #d0d0d0 !important;
}

.stickyColumn {
  position: sticky;
  left: 0;
  z-index: 2;
}

[id^='expiryDate-'] input {
  width: 12rem !important;
}

.iconButton {
  padding: 1.3rem 1.5rem 1.3rem 1.5rem !important;
  float: right;
}
.plusButton {
  margin: 1rem 1rem auto auto !important;
}

.batchNumberInput,
.totalQuantityInput {
  min-width: 7rem;
}
