.modalListSection {
    max-height: 33vh;
    overflow-y: auto;
}
.modaButton {
    padding-top: 2rem!important;
}
.error {
    color: #ff0000;
}

.primaryButton{
    background-color: #007d79 !important;
}