#stock-table-container .bx--data-table-content {
  min-height: 20rem;
  max-height: calc(100vh - 240px);
  @media all and (min-width: 768px) {
    max-height: 22rem;
  }
}

.add-drug-modal .bx--modal-footer {
  @media all and (min-width: 768px) {
    width: 50%;
    margin-left: auto;
  }
}
