@import "~carbon-components/src/globals/scss/vars";
@import "carbon-components/scss/globals/scss/typography.scss";
@import "~carbon-components/scss/globals/scss/styles.scss";

.table {
	:global(.bx--data-table--sticky-header) {
		max-height: 40rem;
	}
}
.modalRoot {
  font-size: 12px;
}
.modalList {
  display: grid;
  grid-template-columns: 90% 10%;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  align-items: center;

  > div:last-child {
    text-align: center;
  }
}
