.modalRoot {
	font-size: 12px;
}
.modalList {
	display: grid;
	grid-template-columns: 90% 10%;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	align-items: center;

	> div:last-child {
		text-align: center;
	}
}
.stickyColumn {
	position: sticky;
	left: 0;
	z-index: 2;
}
.tableToolbarContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.inventoryContainer {
	@media all and (min-width: 768px) {
		width: 50%;
	}
}

.inventoryContentContainer{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}